:root {
  --green: #008a00;
  --gray: #757575;
}

body {
  font-family: Times; serif;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 1em;
  left: 1.25em;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
    -webkit-flex-direction: row;
  gap: 0.5em;
}
footer * {
  display: inline-block;
  text-shadow: 0 0 0.2em white;
}

h1, h2, h3, h4, h5, h6, p, th, td {
  font-size: 16px;
  line-height: 1.125em;
  letter-spacing: -0.008em;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h2, table {
  margin-top: 1em;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

figure {
  margin: 0;
}

.hyphenate {
  hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;

  /* I'm so sad why don't more browsers support this :( */
  hyphenate-limit-chars: 6 3 3;
    -ms-hyphenate-limit-chars: 6 3 3;
    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphenate-limit-after: 3;
}

@media only screen and (max-width: 600px) {
  .hidden-600px {
    display: none;
  }
}

.auto-padding {
  padding: 1.25em 1.25em 2.5em 1.25em;

  /* from https://stackoverflow.com/a/12034794 */
  box-sizing: border-box;           /* Opera/IE 8+ */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

.edge-fade {
  mask-image: linear-gradient(to bottom, transparent 0, black 1em, black calc(100% - 2em), transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0, black 1em, black calc(100% - 2em), transparent 100%);
}

.container {
  position: fixed;
  margin: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
    -webkit-flex-direction: row;

  width: 100vw;
  height: calc(100vh - 2.5em); /* make space for footer */
}
/* this hack sucks */
@media only screen and (max-width: 344px) {
  .container {
    height: calc(100vh - 3.625em);
  }
}

.y-scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

.flex-left {
  flex: 3 1 0;
}
.flex-right {
  flex: 4 1 0;
}

a {
  text-decoration: none;
  color: blue;
}
a:hover {
  background-color: blue;
  color: white;
}

.color-programming,
.color-programming > * {
  color: var(--gray);
}
.color-programming.selected::before,
.color-programming a:hover,
a.color-programming:hover,
a.color-programming:hover > * {
  background-color: var(--gray);
  color: white;
}
.color-design, .color-design > * {
  color: var(--green);
}
.color-design.selected::before,
.color-design a:hover,
a.color-design:hover,
a.color-design:hover > * {
  background-color: var(--green);
  color: white;
}

#projects {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  counter-reset: supernum;
}
#projects .el {
  margin-bottom: 0.15em;
}
#projects .el h3,
#projects .el p {
  font-weight: normal;
  margin: 0 0.75em 0 0;
  display: inline;
}
#projects .el p, figcaption {
  font-family: sans-serif;
  font-size: 0.75em;
  line-height: 0.9em;
  letter-spacing: 0.005em;
}
#projects .el a {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
#projects .el a *:nth-child(1) {
  flex: 6.5 1 0;
}
#projects .el a *:nth-child(2) {
  flex: 1.5 1 0;
}
#projects .el a *:nth-child(3) {
  flex: 3.3 1 0;
  margin: 0;
}
.super {
  counter-increment: supernum;
}
.super::after {
  font-size: 0.3em;
  vertical-align: top;
  letter-spacing: -0.005em;
  margin-left: 1em;
  margin-right: -0.8em;
  content: "[" counter(supernum) "]";
}
@media only screen and (max-width: 600px) {
  .super {
    display: none;
  }
}

#image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.5em, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 0.5em 1.5em;
  counter-reset: boxes;
}
@media only screen and (max-width: 1091px) {
  #image-grid {
    grid-auto-rows: auto;
  }
}
#image-grid .box {
  counter-increment: boxes;
  aspect-ratio: 3/4;
}
#image-grid .box::before {
  font-family: sans-serif;
  font-size: 0.75em;
  letter-spacing: 0.005em;
  content: counter(boxes) ".";
  width: inherit;
}
.box a:hover {
  background-color: transparent;
}
#image-grid img,
#image-grid video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 0 0;
}
