/* Kevin Chen, 2024 */

:root {
  --color-design: #008400;
  --color-programming: #b06200;
}

html, body, main {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: #f9f8f8;
  color: black;
}

footer {
  position: fixed;
  bottom: 0.75em;
  left: 1.25em;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  display: flex;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
  flex-direction: row;
    -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  gap: 0.5em;
}

footer * {
  display: inline-block;
  background-color: #f9f8f8;
}

h1, h2, h3, h4, h5, h6, p, th, td, button {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.14em;
  letter-spacing: -0.005em;
  margin: 0;
  margin-bottom: 0.5em;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  opacity: 0.35;
}

figure {
  margin: 0;
  width: 100%;
  height: auto;
}

figcaption {
  margin-top: 0.25em;
  opacity: 0.75;
}

.hyphenate {
  hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;

  hyphenate-limit-chars: 6 3 3;
    -ms-hyphenate-limit-chars: 6 3 3;
    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphenate-limit-after: 3;
}

.auto-padding {
  padding: 1.35em 1.35em 3.5em 1.35em;

  /* from https://stackoverflow.com/a/12034794 */
  box-sizing: border-box;           /* Opera/IE 8+ */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  display: flex;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
  flex-direction: row;

  width: 100%;
  height: 100%;
}
/* this hack sucks */
@media only screen and (max-width: 21.5em /* 344px */) {
  .container {
    height: calc(100% - 3.625em);
  }
}

.y-scrollable {
    -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.flex-left {
  flex: 0 0 21.5em;
  position: sticky;
  background-color: white;
}
.flex-right {
  flex: 1 1 0;
}

@media only screen and (max-width: 43em /* 688px */) {
  .container {
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
    flex-direction: column;
  }
  .y-scrollable {
    overflow-y: visible;
  }
  .flex-left {
    flex: 0 0 auto;
    padding-bottom: 0.75em;
    padding-right: 1.25em;
  }
  .flex-right {
    flex: 0 0 auto;
    padding-left: 1.25em;
  }
}

a {
  text-decoration: none;
  color: blue;
}
a:hover {
  background-color: blue;
  color: white;
}

.color-programming,
.color-programming > * {
  color: var(--color-programming);
}
a::before {
  color: #a6a6a6;
}
a:hover::before,
.color-programming.selected a::before,
.color-design.selected a::before {
  color: white;
}
.box.color-programming.selected a::after,
ol li.color-programming.selected *,
.color-programming a:hover,
a.color-programming:hover,
a.color-programming:hover * {
  background-color: var(--color-programming);
  color: white;
}
.color-design, .color-design > * {
  color: var(--color-design);
}
.box.color-design.selected a::after,
ol li.color-design.selected *,
.color-design a:hover,
a.color-design:hover,
a.color-design:hover * {
  background-color: var(--color-design);
  color: white;
}
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
}
button.color-programming:hover,
button.color-programming.selected {
  background-color: var(--color-programming);
  color: white;
}
button.color-design:hover,
button.color-design.selected {
  background-color: var(--color-design);
  color: white;
}


#projects {
  margin: 1em 0;
}

ol {
  padding-inline-start: 0;
  list-style-type: none;
}
ol li {
  margin-bottom: 0.25em;
}
.el a::before {
  display: inline-block;
  content: counter(list-item);
  width: 1.25em;
  padding-top: 0.35em;
}
.el a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  display: flex;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
  flex-direction: row;
  gap: 0.75em;
}
.el p.title {
  flex: 4 1 0;
}
.el p.date {
  padding-top: 0.35em;
  flex: 0 0 4.25em;
}
.el p.tags {
  padding-top: 0.35em;
  flex: 2 1 0;
}
.el p {
  font-weight: normal;
  margin: 0;
  display: inline;
}
.el p.date, .el a::before, figcaption, .small {
  font-family: sans-serif;
  font-size: 0.75em;
  line-height: 0.9em;
  letter-spacing: 0.01em;
}
.el a::before {
  letter-spacing: -0.01em;
}

/* * { */
/*   border: 1px solid blue; */
/* } */

#image-grid {
    display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
    grid-gap: 1em;
  gap: 1em;
  counter-reset: boxes;
}
@media only screen and (max-width: 43em /* 688px */) {
  #image-grid {
    grid-template-columns: 1fr 1fr;
      grid-gap: 0.65em 0.75em;
    gap: 0.65em 0.75;
  }
}
.box {
  counter-increment: boxes;
}
.box * {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.box a::after {
  font-family: sans-serif;
  font-size: 0.75em;
  letter-spacing: -0.01em;
  width: 1.5em;
  content: counter(boxes);

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.box a:hover {
  background-color: transparent;
}

img,
video {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center top;
}
