/* Kevin Chen, 2024 */

/* * { */
/*   border: 1px solid blue; */
/* } */

.container {
  height: 100%;
}

.flex-description {
  flex: 0 0 21.5em;
  background-color: white;
  color: black;
}
.flex-content {
  flex: 1 1 0;
  padding-top: 2.97em; /* 1.35em + 1.12em + 0.5em */
}
.flex-content a {
  color: #3030ff;
}
.flex-content a:hover {
  color: white;
}
.flex-content *:first-child {
  margin-top: 0;
  padding-top: 0;
}

#title {
  display: block;
  margin-bottom: 1.5em;
}
#title h2 {
  margin-bottom: 0.3em;
}
#metadata {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  display: flex;

  justify-content: space-between;
  width: 100%;
}

img {
  max-height: 90vh;
}
.nomaxheight img {
  max-height: none;
}

.image-grid,
.image-grid-small {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  display: flex;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
  flex-direction: row;
    -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  gap: 1em 1em;
  margin-top: 0.75em;
  margin-bottom: 1.25em;
}
.image-grid * {
  flex: 1;
  min-width: 18em;
  max-width: 1fr;
}
.image-grid-small * {
  flex: 1;
  min-width: 8em;
  max-width: 1fr;
}

.media-grid-1,
.media-grid-2,
.media-grid-2-nogap,
.media-grid-2-rows,
.media-grid-3,
.media-grid-3-rows,
.media-grid-4,
.media-grid-5 {
    display: -ms-grid;
  display: grid;
  margin-top: 0.75em;
  margin-bottom: 1.25em;
}

.media-grid-1 {
  grid-template-columns: fit-content(100%);
  gap: 1em 1em;
}
.media-grid-2, .media-grid-2-nogap {
  grid-template-columns: repeat(2, fit-content(100%));
  gap: 1em 1em;
}
.media-grid-2-nogap {
  gap: 0 0;
}
.media-grid-2-rows {
  grid-auto-flow: column;
  grid-template-rows: auto auto;
  gap: 1em 1em;
}
.media-grid-3 {
  grid-template-columns: repeat(3, fit-content(100%));
  gap: 1em 1em;
}
.media-grid-3-rows {
  grid-auto-flow: column;
  grid-template-rows: auto auto auto;
  gap: 1em 1em;
}
.media-grid-4 {
  grid-template-columns: repeat(4, fit-content(100%));
  gap: 0.5em 0.5em;
}
.media-grid-5 {
  grid-template-columns: repeat(5, fit-content(100%));
  gap: 0.5em 0.5em;
}

.centered,
.centered-1,
.centered-2,
.centered-3,
.centered-4,
.centered-5 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

@media only screen and (min-width: 68.75em /* 1100px */) {
  .centered-1 {
    padding: 0 calc((100vw - 68.75em) * 0.1);
  }
  .centered-2 {
    padding: 0 calc((100vw - 68.75em) * 0.2);
  }
  .centered-3 {
    padding: 0 calc((100vw - 68.75em) * 0.3);
  }
  .centered-4 {
    padding: 0 calc((100vw - 68.75em) * 0.4);
  }
  .centered-5 {
    padding: 0 calc((100vw - 68.75em) * 0.5);
  }
}

@media only screen and (max-width: 43em /* 688px */) {
  .container {
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
    flex-direction: column;
  }
  .flex-description {
    flex: 0 0 0em;
    height: 100%;
    padding-bottom: 0.75em;
    padding-right: 1.25em;
  }
  .flex-content {
    flex: 0 0 0em;
    padding-top: 1.5em;
    padding-left: 1.25em;
  }
  .y-scrollable {
    overflow-y: visible;
  }
  .image-grid,
  .image-grid-small {
    margin-top: 0;
    margin-bottom: 1.25em;
  }
  .media-grid-1,
  .media-grid-2, .media-grid-2-rows, .media-grid-2-nogap,
  .media-grid-3, .media-grid-3-rows,
  .media-grid-4,
  .media-grid-5 {
    margin-top: 0;
    margin-bottom: 1.25em;
    /* grid-template-columns: 1fr; */
    /* grid-auto-flow: row; */
  }
  .media-grid-1,
  .media-grid-2,
  .media-grid-2-rows,
  .media-grid-3,
  .media-grid-3-rows {
    gap: 0.75em 0.75em;
  }
  .media-grid-4,
  .media-grid-5 {
    gap: 0.375em 0.375em;
  }
  .centered,
  .centered-1,
  .centered-2,
  .centered-3,
  .centered-4,
  .centered-5 {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}

.video-container-16-9 {
  aspect-ratio: 16 / 9;
  width: 100%;
}
.video-container-square {
  aspect-ratio: 1;
  width: 100%;
}
.pdf-container-letter {
  aspect-ratio: 8.5 / 11;
  width: 100%;
}

/* From https://www.stuart-bertolotti-bailey.org/static/css/main.css */

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  display: flex;

  align-items: center;
  justify-content: center;
}
.fullscreen.fade {
  background-color: black;
  transition: background-color 0.2s;
}

img {
  cursor: zoom-in;
}
