/* Made by hand by Kevin Chen */

.container {
  height: 100%;
}

.flex-description {
  flex: 1 1 0;
  padding-right: 0em;
}
.flex-content {
  flex: 3 1 0;
  padding-top: 4.5em;
  /* padding-left: 0em; */
}
.flex-content *:first-child {
  margin-top: 0;
  padding-top: 0;
}

#title {
  display: block;
  z-index: 1;
}

.image-grid,
.image-grid-small {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
    -webkit-flex-direction: row;
  gap: 1.25em 1.25em;

  margin-top: 0.75em;
  margin-bottom: 1.25em;
}
* {
  /* border: 1px solid blue; */
}

.image-grid * {
  flex: 1;
  min-width: 18em;
  max-width: 1fr;
}

.image-grid-small * {
  flex: 1;
  min-width: 8em;
  max-width: 1fr;
}

.media-grid-2, .media-grid-2-narrow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em 1em;
  margin-top: 0.75em;
  margin-bottom: 1.25em;
}
.media-grid-2-narrow {
  gap: 0 0em;
}

.media-grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em 1em;
  margin-top: 0.75em;
  margin-bottom: 1.25em;
}

.media-grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.25em 0.25em;
  margin-top: 0.75em;
  margin-bottom: 1.25em;
}

.media-grid-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.25em 0.25em;
  margin-top: 0.75em;
  margin-bottom: 1.25em;
}

.centered-80 {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
.centered-70 {
  text-align: center;
  padding-left: 15vw;
  padding-right: 15vw;
}
.centered-60 {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.text-grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
    -webkit-flex-direction: row;
  gap: 0em 1.5em;
}
.text-grid * {
  flex: 1;
  min-width: 15em;
  max-width: 1fr;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
  }
  .flex-description {
    flex: 0 0 auto;
    padding-bottom: 0em;
    padding-right: 1.25em;
  }
  .flex-description::after {
    width: inherit;
    content: "~";
    opacity: 0.35;
  }
  .flex-content {
    flex: 0 0 auto;
    padding-top: 1.5em;
    padding-left: 1.25em;
  }
  .image-grid,
  .image-grid-small {
    margin-top: 0;
    margin-bottom: 1.25em;
  }
  .media-grid-2, .media-grid-2-narrow, .media-grid-3, .media-grid-4, .media-grid-5 {
    margin-top: 0;
    margin-bottom: 1.25em;
    grid-template-columns: 1fr;
  }
  .y-scrollable {
    overflow-y: hidden;
  }
  .centered-80, .centered-70, .centered-60 {
    padding-left: 0;
    padding-right: 0;
  }
}

.video-container-16-9 {
  aspect-ratio: 16 / 9;
  width: 100%;
}
.video-container-square {
  aspect-ratio: 1;
  width: 100%;
}
.pdf-container-letter {
  aspect-ratio: 8.5 / 11;
  width: 100%;
}

/* From https://www.stuart-bertolotti-bailey.org/static/css/main.css */

/* #fullwindow {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  z-index: +1;
} */

.fullwindow {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: initial;
  object-fit: contain;
  filter: initial;
  z-index: 1;
  background-color: black;
}

.background-black {
  background-color: black;
}
.background-black * {
  color: white;
}

