/* * *,
*::before,
*::after {
  box-sizing: inherit;
} */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin: 5em;
  font-family: 'Roboto', sans-serif;
  /* letter-spacing: 0em; */
}

a {
  color: #000000;
}

a:hover {
  background-color: #000000;
  color: white;
  transition: 0.2s;
}

h1 {
  font-size: 10em;
  padding-bottom: rem;
}

p, li {
  font-size: 3em;
}

