* *,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #f2f0e6;
  color: #2d2922;
  margin: 5em;
  font-family: neue-haas-grotesk-display, sans-serif;
  /* letter-spacing: 0em; */
}

a {
  color: #2d2922;
}

a:hover {
  background-color: #2d2922;
  color: #f2f0e6;
  transition: 0.2s;
}

h1 {
  font-weight: 600;
  font-style: normal;
  font-size: 13em;
  line-height: 0.9em;
  letter-spacing: -0.025em;
  margin: 0px 0px 25px 0px;
}

p, ul li {
  font-weight: 400;
  font-style: normal;
  font-size: 2.25em;
}

ul li {
  padding-bottom: 0.25em;
}

ul {
  list-style: none;
}

ul li::before {
  content: '\2022';
  padding-right: 0.5em;
  margin-left: -1em;
}

